@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
section {
    background-color: rgba(0, 0, 0, 0.877);
    height: 89vh;
}
ul#container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: black;
    
}
li.alfabeto {
    color: white;
    padding: 20px;
    padding-top: 0px;
}
h1#escolherletra {
    border-bottom-style: inset;
    text-align: center;
}
div.content {
    display: flex;
    padding: 40px;
    padding-left: 60px;
}
div.content  img {
    -webkit-filter: drop-shadow( 5px 5px 15px #ebcc43);
    filter: drop-shadow(0px 0px 10px #eb4343);
}
div.texto{
    transform: translate(35%, 20%);
}
h1.nome {
    font-family: 'starwars';
    color:#ebcc43 ;
    letter-spacing: 2px;
}
p.description{
    border: none;
    width: 400px;
    transform: translate(0%, 0%);
    color: white;
}