@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
section {
    background-color: rgba(0, 0, 0, 0.877);
    height: 89vh;
}
ul#container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-color: black;
    
}
li.alfabeto {
    color: white;
    padding: 20px;
    padding-top: 0px;
}
h1#escolherletra {
    border-bottom-style: inset;
    text-align: center;
}
div.content {
    
}
p.description{
    border: none;
}